<div class="payment-content">
  <ng-container *ngIf="(status$ | async) === 'loaded'">
    <ng-container *ngIf="order">
      <div>
        <app-payment-guest></app-payment-guest>
        <div
          style="border-bottom: 1px; display: flex; padding-bottom: 5px ; border-bottom: 1px solid #518ac6; margin: 10px; color: grey; font-size: 80%">
          <div class="item-bagtag"></div>
          <div class="item-name">
            {{'items' | translate}}
            <ng-container *ngIf="order.items.length">[{{order.items.length}}]</ng-container>
          </div>
          <div class="item-qty">{{'qty' | translate}}</div>
          <div class="item-price">{{'price' | translate}}</div>
          <div></div>
        </div>
      </div>
      <div style="flex: 1; padding: 10px; overflow: auto">
        <app-order-item *ngFor="let item of order.items; let i = index" [item]="item" (click)="showDetailOrderItem( i)"></app-order-item>
       <div *ngIf="order.items.length === 0" style="display: flex; flex-direction: column; align-items: center;; height: 100%; padding-top: 5rem">
         <img src="/assets/images/dish-empty.svg" alt="" style="width: 7rem">
         <div style="font-weight: bold">Your cart is empty</div>
         <small style="color: grey">Please add  some  items from the menu</small>
       </div>
      </div>
      <ng-container *ngIf="order.items.length">
        <div style="padding: 1rem">
          <div style="display: flex; justify-content: space-between; margin-bottom: 0.5rem">
            <div>{{'total_payment' | translate}}:</div>
            <div>
              <strong>{{getTotal() - getOrderDiscount()| formatCurrency}}</strong>
            </div>
          </div>
          <div style="display: flex; justify-content: space-between; align-items: center">
            <div style="white-space: nowrap">
              {{'payment_type' | translate}}:
            </div>
            <div style="display: flex; flex-wrap: wrap; justify-content: flex-end">
              <!--            <button class="btn btn-sm btn-method" [class.active]="order.payment_type === 'CASH'"-->
              <!--                    (click)="setPaymentType('CASH')" [disabled]="!!order.guest || someItemHasGuest">-->
              <!--              {{'cash' | translate}}-->
              <!--            </button>-->
              <button class="btn btn-sm btn-method" [class.active]="order.payment_type === 'VOUCHER'"
                      (click)="setPaymentType('VOUCHER')">
                {{'voucher' | translate}}
              </button>
              <button class="btn btn-sm btn-method" [class.active]="order.payment_type === 'WITH_GOLF'"
                      (click)="setPaymentType('WITH_GOLF')">
                {{'pay_with_golf' | translate}}
              </button>
            </div>
          </div>
        </div>
        <div style="padding: 1.5rem; padding-top: 0; display: flex">
          <ion-button (click)="submitOrder()"
                      class="submit-btn"
                      [class.border-radius-right]="!order.id"
                      [disabled]="loading">
            {{'submit_order' | translate }}
          </ion-button>
          <ion-button *ngIf="order.id" (click)="checkoutOrder()"
                      class="checkout-btn"
                      [disabled]="loading">
            {{'checkout' | translate }}
          </ion-button>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="(status$ | async) === 'loading'">
    <div>
      <app-payment-guest></app-payment-guest>
      <div
        style="border-bottom: 1px; display: flex; padding-bottom: 5px ; border-bottom: 1px solid #518ac6; margin: 10px">
        <div class="item-bagtag"></div>
        <div class="item-name ion-margin-end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </div>
        <div class="item-qty ion-margin-end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </div>
        <div class="item-price ion-margin-end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </div>
      </div>
    </div>
    <div style="flex: 1; padding-left: 1rem; padding-right: 1rem">


      <ion-list>
        <ion-list-header>
          <ion-label>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let i of [1, 2, 3, 4, 5]">
          <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div style="padding: 1.5rem; padding-top: 0">
      <ion-skeleton-text animated style="height: 50px"></ion-skeleton-text>
    </div>
  </ng-container>
</div>
