:host {
  flex: 1;
  min-height: 0;
}

.payment-content {
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 11.25px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

:host {
  ::ng-deep {

    .item-bagtag {
      width: 10px;
      margin-right: 4px;
    }

    .order-item {
      display: flex;
      padding-bottom: 10px;
      padding-top: 10px;
      align-items: center;
      border-radius: 4px;
      overflow: hidden;
      font-size: 85%;
      > div {
        background: transparent;
        transition: background 200ms ease-out;
      }
      &:active > div {
        background: rgba(255, 196, 9, 0.8);
      }
    }


    app-order-item {
      .item-name {
        color: #184c7c;
      }
    }

    .item-name {
      flex: 1;
    }

    .item-qty {
      width: 50px;
      text-align: center;
    }

    .item-price {
      width: 100px;
      text-align: right;
      padding-right: 10px;
    }
  }
}

ion-button.submit-btn, ion-button.checkout-btn {
  display: block;
  width: 100%;
  height: 50px;
  font-weight: bold;
  text-align: center;
  overflow: hidden
}

.submit-btn {
  border-bottom-left-radius:  22.5px;;
  border-top-left-radius:  22.5px;
  --background: #184c7c;
  --background-activated: #184c7c;
  --background-focused: #184c7c;
  --background-hover: #184c7c;
  --color: white;

  &.border-radius-right {
    border-bottom-right-radius:  22.5px;;
    border-top-right-radius:  22.5px;
  }
}
.checkout-btn {
  border-bottom-right-radius:  22.5px;;
  border-top-right-radius:  22.5px;

  --background: #ffcb2a;
  --background-activated: #fcd66a;
  --background-focused: #ffd148;
  --background-hover: #ffd148;
  --color: #184c7c;
}

.btn-method {
  background: #7f7f7f;
  color: white;
  margin: 0.25rem;
  border-radius: 4px;
  padding: 0.25rem;

  img {
    width: 17px;
  }

  &:hover {
    color: white !important;
  }

  &.active {
    background: #56BFD0;
  }
}

.custom-select {
  display: inline-block;
  background-color: #fff;
  margin: 2px;
  border-radius: 4px;
}

button[disabled] {
  opacity: 0.56;
}
